html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #4BA86D;
}

.command-error {
  color: #a20000;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.want-btn-active {
  background: grey;
  border: 1px solid grey;
}

.member-want-to-play {
  color: green;
}

.member-is-player {
  font-weight: bold;
}

.your-hand-holder {
  overflow: hidden;
  max-width: 1400px;
  
}
.your-hand {
  margin: 30px 70px 100px 70px;
}
.playing-card-box {
  display: inline-block;
  width: 130px;
  height: 188px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  
}

.playing-card-box:hover {
  z-index: 2;
}

.playing-card {
  width: 100%;
  height: 100%;
  background-size: 100%;
  transition: transform 0.1s ease-in-out;
}

.your-hand .playing-card {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
.your-hand .playing-card:hover {
  transform: scale(1.3);
}

.playing-card-back-box {
  display: inline-block;
  width: 65px;
  height: 94px;
  position: relative;
  box-sizing: border-box;
}
.playing-card-back {
  border: 1px solid #533;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-size: 10%;
  background-position: 10px; 10px;
  background-color: #ffe9e9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c5614c' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.opponent {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 104px;
  box-sizing: border-box;
  border: 4px solid #ffe9e9;
  border-radius: 4px;
  margin-right: 10px;
}

.opponet__nickname {
  position: absolute;
  top: 10px;
  left: 6px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 11px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  box-sizing: border-box;
}
.opponet__card-num {
  position: absolute;
  top: 46px;
  left: 6px;
  font-size: 26px;
  width: 52px;
  height: 40px;
  text-align: center;
  text-shadow: -3px 3px 4px #fff, 3px -3px 4px #fff, -3px -3px 4px #fff, 3px 3px 4px #fff;
}
.opponent .playing-card-back {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.deck {
  overflow: hidden;
  width: 120px;
  box-sizing: border-box;
}
.deck__cards {
  height: 120px;
}
.deck .playing-card-back-box {
  left: 0;
}
.deck .playing-card-back {
  box-shadow: none;
}
.deck .playing-card-box {
  width: 65px;
  height: 94px;
  cursor: default;
  transform: rotate(90deg) translateX(-125%) translateY(-42%);
  z-index: 1;
}
.deck__empty {
  width: 65px;
  height: 94px;
  border: 1px solid black;
}
.deck__trump-suit {
  font-size: 50px;
  margin-top: 16px;
  text-align: center;
}
.deck__suit-red {
  color: red;
}
.app {
  display: flex;
}
.game-info {
  margin-right: 20px;
}
