<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Durak - An online multiplayer card game</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script>
        var WsConnection;
        var OnIncomingMessage = function(){};
        var WsDisconnect = function(){
            if (WsConnection) {
                WsConnection.close(1000, "Deliberate disconnection");
            }
        };
    </script>
    <link href="css/index.css" rel="stylesheet" media="all" />
  </head>
  <body>
        <div id="login" style="position: fixed; left: 0px; top: 0px; width: 1920px; height: 100%; z-index: 10; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAGBJREFUOE9jCN9a9Z8SDDbAe0UuVklc4siYZBegG4rVAJAiYmwHYeoYQKxibJg2YYCO8bkQwwBSvYM3DIgxjGgvIBuGzCbKC+gGIGOiXIAPU88AdCci83F5C0RT6IKq/wD0s4G1BdrsJAAAAABJRU5ErkJggg==');">

            <h1 style="text-align: center; font-size: 44px; font-weight: bold; margin-top: 64px; margin-bottom: 0;">DURAK</h1>

            <h2 style="text-align: center; font-size: 20px; font-weight: bold; color: #333; margin-top: 10px; margin-bottom: 40px;">An online multiplayer card game</h2>
  

            <div id="nickh" style="display: flex; align-items: center; justify-content: center;">
                <label for="nick" style="margin-right: 8px;">Nickname:</label> <input id="nick" style="width:190px; background: none; border: none; border-bottom: 1px solid black; margin-right: 8px;" placeholder="Nickname" maxlength="20">
                <button id="play" style="cursor: pointer; font-weight: bold; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Play</button>
            </div>


            <div id="ws-not-found" style="display: none; color: #700; text-align: center; font-size: 18px; font-weight: bold;">Sorry, you can't play because you device does not support WebSockets</div>

            <div id="disconnected" style="display: none; color: #FFDF00; text-align: center; font-size: 18px; font-weight: bold;">Disconnected</div>
        </div>

        <div id="app">
            <div>
                <div>Your id: {{clientsInfo.yourId}}</div>
                <div>Your nickname: {{clientsInfo.yourNickname}}</div>
            </div>

            <div>Clients: </div>
            <ol>
                <li v-for="client in clientsInfo.clients">
                  {{ client.nickname }}#{{ client.id }} 
                </li>
            </ol>

            <div>Rooms: </div>
            <transition-group name="slide-fade" tag="ol">
                <li v-for="room in rooms" v-bind:key="room.id">
                  <strong v-if="room.id == clientsInfo.yourRoomId">--here--</strong>
                  <a href="#" v-on:click="joinRoom(room.id, $event)">{{ room.name }}#{{ room.id }}: {{ room.members_num }}
                    <span v-if="room.game_status"> ({{ room.game_status }})</span></a>
                    <strong v-if="room.owner_id == clientsInfo.yourId">you are onwer</strong>
                </li>
            </transition-group>

            <div v-if="room && room.id">
                <h2>Room - {{ room.name }}</h2>
                <transition-group name="slide-fade" tag="ol">
                    <li v-for="member in room.members" v-bind:key="member.id" v-bind:class="{ 'member-want-to-play': member.want_to_play, 'member-is-player': member.is_player }">
                      {{ member.nickname }}
                      <span v-if="room.owner_id == clientsInfo.yourId">
                        <button v-if="member.want_to_play && !member.is_player && playersInRoom < room.max_players" v-on:click="setPlayerStatus(member.id, true)">mark as player</button>
                        <button v-if="member.is_player" v-on:click="setPlayerStatus(member.id, false)">mark as spectator</button>
                      </span>
                    </li>
                </transition-group>
            </div>

            <div class="command-error" v-if="commandError.message">Error: {{ commandError.message }}</div>
        

            <button v-on:click="createRoom">Create new room</button><br>
            <button v-on:click="markWantToPlay" v-bind:class="{ 'want-btn-active': wantToPlay }">Want to play</button><button v-bind:class="{ 'want-btn-active': !wantToPlay }" v-on:click="markWantToSpectate">Want to spectate</button><br>
            <button id="send">Send somthing</button>

        </div>

        <script>
            var loginElement = document.getElementById('login');

            (function(){

                function updatedLoginWidth() {
                    var width = window.innerWidth;
                    loginElement.style.width = width + 'px';
                }
                window.onresize = function(event) {
                    updatedLoginWidth();
                };
                updatedLoginWidth();


                var playBtn = document.getElementById('play');

                playBtn.addEventListener('click', function (event) {
                    var nickname = document.getElementById('nick').value;

                    var date = new Date;
                    date.setDate(date.getDate() + 180);
                    document.cookie = "nickname=" + nickname + "; path=/; expires=" + date.toUTCString();

                    wsConnect(nickname);
                });

                function getCookie(name) {
                  var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                  ));
                  return matches ? decodeURIComponent(matches[1]) : undefined;
                }

                var cookieNickname = getCookie("nickname");
                if (cookieNickname) {
                    document.getElementById('nick').value = cookieNickname;
                } else {
                    document.getElementById('nick').value = Math.random().toString(36).substring(7);
                }

                if (!window["WebSocket"]) {
                    document.getElementById('ws-not-found').style.display = "block";
                    document.getElementById('nickh').style.display = "none";
                    document.getElementById('play').style.display = "none";
                }


                function wsConnect(nickname) {
                    WsConnection = new WebSocket("ws://" + document.location.host + "/ws");
                    WsConnection.onopen = function () {
                        loginElement.style.display = "none";
                        document.getElementById('disconnected').style.display = "none";
                        WsConnection.send(JSON.stringify({type: 'lobby', sub_type: 'join', data: nickname}));
                    }
                    WsConnection.onclose = function (evt) {
                        loginElement.style.display = "block";
                        document.getElementById('disconnected').style.display = "block";
                        window.setTimeout(function(){
                            location.reload();
                        }, 3000);
                    };
                    WsConnection.onmessage = function (evt) {
                        var messages = evt.data.split('\n');
                        for (var i = 0; i < messages.length; i++) {
                            var json;
                            try {
                                json = JSON.parse(messages[i]);
                            } catch (ex) {
                                console.warn("Json parse error", evt.data, ex);
                            }
                            if (json) {
                                OnIncomingMessage(json, evt);
                            }
                        }
                        
                    };
                };
                
            })();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/index.js"></script>
  </body>
</html>
